@using BaseSolution.BlazorServer;
@inject SaveCustomerId _saveCustomerId;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="_saveCustomerId.LayoutOption">
                <NotAuthorized>
                    <LayoutView Layout="_saveCustomerId.LayoutOption">
                        <h6>Quyền truy cập bị từ chối (Not Authorized).</h6>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="_saveCustomerId.LayoutOption">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
