@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject IDialogService DialogService

<MudDialog Style="width: 1000px" >
    <DialogContent>
           <MudForm>      
                            <MudTextField T="string" Label="Họ tên"/>
                             <MudDatePicker Label="ngày sinh" /> 
                              <MudTextField T="string" Label="Địa chỉ"/> 
                             <MudTextField T="string" Label="Số điện thoại"/> 
                          <MudTextField T="string" Label="Email"/> 
                             <div class="d-flex">
                                <MudRadioGroup T="string" Required="true" RequiredError="">
                                    <MudRadio Option="@("Nam")">Nam</MudRadio>
                                    <MudRadio Option="@("Nữ")">Nữ</MudRadio>
                                </MudRadioGroup>
                            </div>
                                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" Class="mt-3">
                                    <ButtonTemplate>
                                        <MudButton HtmlTag="label"
                                                   Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                                   for="@context"> Ảnh </MudButton>
                                    </ButtonTemplate>
                                </MudFileUpload>
                    </MudForm>   
   </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Quay lại</MudButton>
        <MudButton Color="Color.Warning" OnClick="Submit">Sửa thông tin</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(IBrowserFile file)
    {
        files.Add(file);
        //TODO upload the files to the server
    }
}
